%table.bordered
  %tr
    %th.numeric №
    %th{ :colspan => 3 } Название

  - hierarchy_cells(@bunch, @proceed_methods.dup) do |item|
    %tr
      %td.numeric
        = counter_up :start_at => 1
      %td
        = link_to h(item.name_ru), item
      %td
        %em.lat= h item.name_la
      %td
        = h item.authority
