- content_for :page_title, "Виды птиц Украины"

%p.section_cap
  -#= "Список птиц Украины (#{@bunch.size} видов)"
  = "Список птиц Украины" 

%p
  Это список всех видов птиц Украины, представленных на этом сайте. Вы также можете ознакомиться со списком птиц,
  встреченных мною, который можно фильтровать по годам и регионам; и с галереей видов.

= render :partial => "table"
