body {
  font-family: verdana, arial, helvetica, sans-serif;
}

/* Header */

#header {
    background-color: #D0E0FF;
}

/* Footer */

#footer {
}

/* Leftpane */

#leftpane {
    width: 300px;
    background-color: #ddf0dd;
}