<% content_for :page_title do %>
  Ресурс не найден
<% end %>

<div id="errorExplanation" class="errorExplanation">
  <h2>Ресурс не найден</h2>
  <p>
  Link: <%= link_to request.url %>
  <ul>
  <li><b>Controller:</b> <%= controller_name %>
  <li><b>Action:</b> <%= action_name %>
  <li><b>Id:</b> <%= params[:id] %>
  </ul>
  </p>
</div>