<% content_for :page_title do %>
  Страница не найдена
<% end %>

<% inside_layout 'layouts/panned' do %>

<p class="section_cap">
Ошибка 404
</p>

<h1 class="page_cap">
Страница не найдена
</h1>

<p>
К сожалению, такая страница отсутствует на сайте. Возможные причины этого:
</p>

<ul>
    <li> В адресе допущена опечатка.
    <li> Запрошенная страница когда-то существовала, но была удалена. Такое хоть редко, но случается.
</ul>

<p>
Если вы пришли сюда по ссылке с другого сайта, можно сообщить его хозяину, что ссылка больше не работает. А если по ссылке с этого же сайта — сообщите мне :)
</p>
    
<% end %>