- content_for :page_title do
  Страница не найдена

- inside_layout 'layouts/panned' do
  %p.section_cap
    Ошибка 404
  %h1.page_cap
    Страница не найдена
  %p
    К сожалению, такая страница отсутствует на сайте. Возможные причины этого:
  %ul
    %li В адресе допущена опечатка.
    %li Запрошенная страница когда-то существовала, но была удалена. Такое иногда случается.
  %p
    Если вы пришли сюда по ссылке с другого сайта, можно сообщить его хозяину, что ссылка больше не работает. А если по ссылке с этого же сайта&nbsp;— сообщите, пожалуйста, мне.
